 <div class="user-details">
  <h1> From Criminology to Web Dev</h1>
  <p> Ex-criminologue devenue développeuse Web en 5 mois grâce à la Wild Code School de Paris, je partage ici mes projets. 
   J'aime apprendre, découvrir de nouvelles choses, de nouvelles façons de faire, rencontrer des personnes et échanger. </p>
  <p> Je recherche un stage de 4 mois pour monter en compétences avec un(e) super mentor! N'hésitez pas à me contacter ou partager mon profil :) </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p></p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-symfony-original-wordmark colored"></i>
      <i class="devicon-php-plain colored"></i>
      <i class="devicon-jquery-plain-wordmark colored"></i>
      <p>Et aussi : base de données SQL/MySQL, Doctrine</p>
    </div>
    <div class="tech">
      <h2>Outils</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-phpstorm-plain-wordmark colored"></i>
      <i class="devicon-linux-plain colored"></i>
      <p>Utilisation de : Docker, Github, Webpack</p>
    </div>
</div>
