<div class="user-details">
  <h1> Portfolio</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="sow7" src="{{ "/assets/img/sow7.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Sow7 - mini hackathon </h3>
    <ul>
      <li> Stack technique: Symfony 3</li>
    </ul>
    <p>Créer seule une API REST avec Symfony pour que l'équipe JS fasse le front en ReactJS. Application pour prendre en photo ses chaussettes et voter pour les meilleures! </p>
    <p>Première expérience d'API REST mais la meilleure créée!</p>
    <a class="project-link" href="https://github.com/Pandoraaa/sow7" target="_blank">Voir sur Github</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="unicornbeer" src="{{ "/assets/img/partybot.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Welcome Wilders ! </h3>
    <ul>
      <li> Stack technique : PHP </li>
    </ul>
    <p>Premier hackathon en binôme après un mois de formation. </br>
Objectif: trouver une solution pour avoir l'anniversaire des étudiants et les notifier, organiser l'événement. </br>
Solution: création d'un site avec un formulaire d'inscription pour récupérer les adresses email et le pseudo utilisé rocketchat - utilisation d'une cron task pour vérifier s'il y a un anniversaire chaque matin - envoi d'un message sur le chat via l'API de rocketchat pour souhaiter l'anniversaire d'un wilder et proposer de boire un verre.</p>
<p>Super expérience, 36h de hackathon dont 2h de sommeil mais sorties gagnantes avec une solution fun !</p>
    <a class="project-link" href="https://github.com/Pandoraaa/Kirby4link/tree/dev" target="_blank">Voir sur Github</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="hobbea" src="{{ "/assets/img/hobbea home.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Hobbea </h3>
    <ul>
      <li> Stack technique: Symfony 3, Sass, Webpack encore, Bootstrap3</li>
    </ul>
    <p>Projet client réel: création d'un site de location de terrains de tennis et de piscines entre particuliers.</p>
    <a class="project-link" href="https://github.com/WildCodeSchool/parisCode-1017-sharingInfra" target="_blank">Voir sur Github</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="weasleys" src="{{ "/assets/img/weasleys.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Weasley's wizard wheezes </h3>
    <ul>
      <li> Stack technique : PHP, Twig, Bootstrap 3, Swiftmailer </li>
    </ul>
    <p>Projet pour client fictif: création du site vitrine pour la boutique des frères Weasley à Paris.
Création d'un back-office pour la gestion du site: ajout, modification, suppression des produits - gestion de contenu. </p>
    <a class="project-link" href="https://github.com/WildCodeSchool/parisCode-1017-Weasley" target="_blank">Voir sur Github</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Born to be wild" src="{{ "/assets/img/btbw.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Born to be wild</h3>
    <ul>
      <li> Stack technique: HTML/CSS Bootstrap 3</li>
    </ul>
    <p>Projet pour client fictif: création d'un site statique pour un groupe de rock indépendant "Born to be wild" </p>
    <a class="project-link" href="https://github.com/bornToBeWild/b2bw" target="_blank">Voir sur Github</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="wild circus" src="{{ "/assets/img/wildcirucs.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Wild circus </h3>
    <ul>
      <li> Stack technique : HTML/CSS JQuery </li>
    </ul>
    <p>Candidature pour l'admission à la Wild Code School: création d'un site statique pour une compagnie de cirque fictive en responsive design.</p>
    <a class="project-link" href="https://jsfiddle.net/Pandoraaah/wyx9q2h0/show/" target="_blank">Voir sur Jsfiddle</a>
  </div>
</div>


